body {
  background: #D2D2D2;
}

header {
  display: block;
}

label {
  display: block;
  margin: 0 0 20px 0;
  overflow: visible;
}

label span {
  display: block;
  margin-bottom: 6px;
  margin-left: -3px;
}

label input {
  font-size: 14px;
}

label input[type="checkbox"] {
  width: 15px !important;
  margin-right: 7px;
  display: inline-block;
}

label input[type="checkbox"] + span {
  display: inline;
}

label input {
  display: block;
}

label input[type="text"],
label input[type="password"],
textarea {
  width: 200px;
}

label input[type="file"] {
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
}

label textarea {
  height: 50px;
}

button {
  border: 1px solid #BBBBBB;
  color: #000;
  font-size: 17px;
  padding: 6px 10px;
  margin: 1px 1px 1px 0;
  
  background: #F9F9F9;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3));
  background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);

  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

button:active {
  background: #E3E3E3;
  background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#F9F9F9));
  background: -moz-linear-gradient(top, #E3E3E3, #F9F9F9);
}

textarea, 
input[type="text"], 
input[type="password"] {
  border: 1px solid #9E9FA2;
  color: #363636;
  text-shadow: 0 1px 1px #FFF;
  font-size: 17px;
  outline: none;
  padding: 10px;
  
  background: #E6E6E7;
  background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E7), color-stop(0.3, #FAFAFA), to(#FAFAFA));
  background: -moz-linear-gradient(top, #E6E6E7, #FAFAFA);
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#title {
  border-bottom: 1px solid #535353;
  overflow: hidden;
  height: 50px;
  
  background: #575859;
  background: -webkit-gradient(linear, left top, left bottom, from(#575859), to(#272425));
  background: -moz-linear-gradient(top, #575859, #272425);
  
  -webkit-box-shadow: inset 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 1px #000;
}

#title h1 {
  color: #FFF;
  text-shadow: 0 1px 1px #000;
  line-height: 50px;
  margin: 0 0 0 10px;
  float: left;
}

#title a {
  color: #FFF;
  text-decoration: none;
}

#title a:hover {
  text-decoration: none;
}

#title .signup {
  color: #FFF;
  text-shadow: 0 1px 1px #000;
  
  float: right;  
  margin: 15px;
  font-size: 20px;
}

#inner {
  width: 500px;
  margin: 30px auto;
}

#content {
  overflow: hidden;

  padding: 15px 20px 15px 15px;

  -webkit-border-radius: 5px;  
  -moz-border-radius: 5px;  
  
  background: #FAFAFA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EAEAEA));
  background: -moz-linear-gradient(top, #FAFAFA, #EAEAEA);
  
  -webkit-box-shadow: inset 0 -1px 1px #FFF, 0px 1px 3px #7F7F7F;  
  -moz-box-shadow: inset 0 -1px 1px #FFF, 0px 1px 3px #7F7F7F;  
}

#content .title {
  text-align: center;
}

form.piece label {
  padding: 5px 10px 10px;
  margin: 0px 0px 10px;
  overflow: hidden;
  border-bottom: 1px solid #CDCDCC;

  -webkit-box-shadow: 0 1px 1px #FCFCFC;
  -moz-box-shadow: 0 1px 1px #FCFCFC;
}

form.piece label span {
  width: 140px;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
}

img.avatar {
  width: 48px;
  height: 48px;

  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 

  -webkit-box-shadow: 0px 1px 2px #7F7F7F;
  -moz-box-shadow: 0px 1px 2px #7F7F7F;
}

#errorExplanation ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  
  color: #2489CE;
}

.back {
  display: block;
  margin: 3px;
}