:defaults: &defaults
  :app_name: Holla
  :app_domain: getholla.com
  :app_site: http://getholla.com
  
  :juggernaut_host: localhost:8080
  
  :aws:
    :access_key_id: replaceme
    :secret_access_key: replaceme
    :bucket: holla-production

:development:
  <<: *defaults
  
  :app_domain: localhost
  :app_site: http://localhost:3000
  
:test:
  <<: *defaults

:staging:
  <<: *defaults
    
:production:
  <<: *defaults
    
  :juggernaut_host: getholla.com:8080