<li class="item">
  <span class="name">${name || "(unknown)"}</span>
  <span class="body">
    {{if isImageUrl(body)}}
      <img src='${body}' />
    {{else}}
      ${body}
    {{/if}}
    <br />
    <span class="timestamp">${$.timeago(created_at)}</span>
  </span>
</li>
